In [1]:
import pandas as pd
import numpy as np
import sys, os

In [2]:
df_fake_1 = pd.read_csv('E:/Covid_Fake_News_Data/chosen/NewsFakeCOVID-19.csv')
nan_dropped_fake_1 = df_fake_1[df_fake_1['content'].notna()]
content_fake_1 = nan_dropped_fake_1['content']
content_fake_1  = pd.DataFrame(content_fake_1)

df_fake_2 = pd.read_csv('E:/Covid_Fake_News_Data/chosen/NewsFakeCOVID-19_5.csv')
nan_dropped_fake_2 = df_fake_2[df_fake_2['content'].notna()]
content_fake_2 = nan_dropped_fake_2['content']
content_fake_2  = pd.DataFrame(content_fake_2)

df_fake_3 = pd.read_csv('E:/Covid_Fake_News_Data/chosen/NewsFakeCOVID-19_7.csv')
nan_dropped_fake_3 = df_fake_3[df_fake_3['content'].notna()]
content_fake_3 = nan_dropped_fake_3['content']
content_fake_3  = pd.DataFrame(content_fake_3)

df_title_fake_1 = pd.read_csv('E:/Covid_Fake_News_Data/ClaimFakeCOVID-19_5.csv')
nan_title_dropped_fake_1 = df_title_fake_1[df_title_fake_1['title'].notna()]
titles_fake_1 = nan_title_dropped_fake_1['title']
titles_fake_1 = pd.DataFrame(titles_fake_1)
titles_fake_1.columns = ['content']
titles_fake_1

df_title_fake_2 = pd.read_csv('E:/Covid_Fake_News_Data/ClaimFakeCOVID-19_7.csv')
nan_title_dropped_fake_2 = df_title_fake_2[df_title_fake_2['title'].notna()]
titles_fake_2 = nan_title_dropped_fake_2['title']
titles_fake_2 = pd.DataFrame(titles_fake_2)
titles_fake_2.columns = ['content']

In [3]:
combined_fake = [content_fake_1, content_fake_2, content_fake_3, titles_fake_1, titles_fake_2]
result_fake = pd.concat(combined_fake)
result_fake = pd.DataFrame(result_fake).reset_index(drop=True)
fake_labels = ['fake'] * len(result_fake)
fake_id = [i+1 for i in range(len(result_fake))]
result_fake.insert(0, "id", fake_id, True)
result_fake['label'] = fake_labels
result_fake.columns = ['id', 'content', 'label']
result_fake

      id                                            content label
0      1                    you must log in to continue ..   fake
1      2  we 've detected that javascript is disabled in...  fake
2      3                   do you want to join facebook ?.   fake
3      4  this was important enough that i wanted to get...  fake
4      5  governor of maine has ordered restaurant staff...  fake
..   ...                                                ...   ...
420  421   "The outbreak began because people ate bat soup"  fake
421  422                       "5G helps SARS-CoV-2 spread"  fake
422  423   "Drinking alcohol reduces the risk of infection"  fake
423  424  "Injecting or consuming bleach or disinfectant...  fake
424  425        You can catch coronavirus in swimming pools  fake

[425 rows x 3 columns]

In [4]:
# Randomly sample 70% of your dataframe
df_fake_train = result_fake.sample(frac=0.7, random_state=42)
df_fake_train = df_fake_train.reset_index(drop=True)
df_fake_test = result_fake.loc[~result_fake.index.isin(df_fake_train.index)]
df_fake_test = df_fake_test.reset_index(drop=True)

In [5]:
df_Real_1 = pd.read_csv('E:/Covid_Fake_News_Data/chosen/NewsRealCOVID-19.csv')
nan_dropped_Real_1 = df_Real_1[df_Real_1['content'].notna()]
content_Real_1 = nan_dropped_Real_1['content']

df_Real_2 = pd.read_csv('E:/Covid_Fake_News_Data/chosen/NewsRealCOVID-19_5.csv')
nan_dropped_Real_2 = df_Real_2[df_Real_2['content'].notna()]
content_Real_2 = nan_dropped_Real_2['content']

df_Real_3 = pd.read_csv('E:/Covid_Fake_News_Data/chosen/NewsRealCOVID-19_7.csv')
nan_dropped_Real_3 = df_Real_3[df_Real_3['content'].notna()]
content_Real_3 = nan_dropped_Real_3['content']

In [6]:
combined_real = [content_Real_1, content_Real_2, content_Real_3]
result_real = pd.concat(combined_real).reset_index(drop=True)
result_real = pd.DataFrame(result_real)
real_labels = ['real'] * len(result_real)
result_real['label'] = real_labels
real_id = [i+1 for i in range(len(result_real))]
result_real.insert(0, "id", real_id, True)
result_real['label'] = real_labels
result_real.columns = ['id', 'content', 'label']
result_real

        id                                            content label
0        1  experts say crowded beaches like this one in b...  real
1        2  increasing number of healthcare experts say th...  real
2        3  fatigue and body aches are symptoms of both fl...  real
3        4  researchers say women are more likely than men...  real
4        5  some teachers have quit while others have sued...  real
...    ...                                                ...   ...
3179  3180                   do you want to join facebook ?.   real
3180  3181   see more of amanda floyd henderson on facebook.   real
3181  3182  with the navajo nation leading the nation in t...  real
3182  3183  we 've detected that javascript is disabled in...  real
3183  3184  we 've detected that javascript is disabled in...  real

[3184 rows x 3 columns]

In [7]:
df_new_real = result_real.sample(n=425)
df_new_real = df_new_real.reset_index(drop=True)
df_new_real

       id                                            content label
0    2881  the goals of cdcs global response to covid-19 ...  real
1     864  experts say establishing consistent daily and ...  real
2    1172  people with psoriasis may be wondering how cov...  real
3    1551  as we await evidence from multiple ongoing tri...  real
4    1110  a new report assessing the effectiveness of ch...  real
..    ...                                                ...   ...
420   995  nida director outlines potential risks to peop...  real
421  2955  background this document contains a sample tra...  real
422  1409  what your doctor is reading on medscape.com 8:...  real
423  2753  this website is using a security service to pr...  real
424  2445  doctors have published a correspondence articl...  real

[425 rows x 3 columns]

In [10]:
# Randomly sample 70% of your dataframe
df_real_train = df_new_real.sample(frac=0.7, random_state=42)
df_real_train = df_real_train.reset_index(drop=True)
df_real_test = df_new_real.loc[~df_new_real.index.isin(df_real_train.index)]
df_real_test = df_real_test.reset_index(drop=True)

In [13]:
df_new_train_total = df_real_train.append(df_fake_train)
df_new_train_total = df_new_train_total.sample(frac=1).reset_index(drop=True)
df_new_train_total

       id                                            content label
0     141  acting homeland security secretary chad wolf t...  fake
1     287  washington dc a besieged president trump justi...  fake
2    1303  what your doctor is reading on medscape.com ap...  real
3     181  error 405 you have been blacklisted kthxbai yo...  fake
4    2184  iraq reported its first case in late february....  real
..    ...                                                ...   ...
591  3136  how to protect yourself and others from covid-...  real
592   177          see more of theresa ivancik on facebook.   fake
593    40  facebook post shared more than 16.000 times cl...  fake
594   402                      "Everyone with COVID-19 dies"  fake
595   298              see more of anne jensen on facebook.   fake

[596 rows x 3 columns]

In [14]:
df_new_test_total = df_real_test.append(df_fake_test)
df_new_test_total = df_new_test_total.sample(frac=1).reset_index(drop=True)
df_new_test_total

       id                                            content label
0    2748  this website is using a security service to pr...  real
1    2667  this website is using a security service to pr...  real
2     693  guidance and tools to help people with disabil...  real
3     317  we 've detected that javascript is disabled in...  fake
4     318  kansas city missouri officials are now requiri...  fake
..    ...                                                ...   ...
249  1595  march 31 2020 the fda says hospitals may get c...  real
250   315                   do you want to join facebook ?.   fake
251   322  see more of bradleigh skopas mcgregor on faceb...  fake
252  2809  this website is using a security service to pr...  real
253  3102  background this document contains a sample tra...  real

[254 rows x 3 columns]

In [31]:
total_test = pd.read_csv('E:/Covid_Fake_News_Data/chosen/Constraint_English_val - Sheet1.csv')
total_test.columns = ['id', 'content', 'label']
total_test = total_test.append(df_new_test_total)
id_list = [i+1 for i in range(len(total_test))]
total_test['id'] = id_list
total_test = total_test.reset_index(drop=True)
total_test

        id                                            content label
0        1  Chinese converting to Islam after realising th...  fake
1        2  11 out of 13 people (from the Diamond Princess...  fake
2        3  COVID-19 Is Caused By A Bacterium, Not Virus A...  fake
3        4  Mike Pence in RNC speech praises Donald Trump’...  fake
4        5  6/10 Sky's @EdConwaySky explains the latest #C...  real
...    ...                                                ...   ...
2389  2390  march 31 2020 the fda says hospitals may get c...  real
2390  2391                   do you want to join facebook ?.   fake
2391  2392  see more of bradleigh skopas mcgregor on faceb...  fake
2392  2393  this website is using a security service to pr...  real
2393  2394  background this document contains a sample tra...  real

[2394 rows x 3 columns]

In [34]:
total_train = pd.read_csv('E:/Covid_Fake_News_Data/chosen/Constraint_English_train - Sheet1.csv')
total_train.columns = ['id', 'content', 'label']
total_train = total_train.append(df_new_train_total)
id_list = [i+1 for i in range(len(total_train))]
total_train['id'] = id_list
total_train = total_train.reset_index(drop=True)
total_train

        id                                            content label
0        1  The CDC currently reports 99031 deaths. In gen...  real
1        2  States reported 1121 deaths a small rise from ...  real
2        3  Politically Correct Woman (Almost) Uses Pandem...  fake
3        4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4        5  Populous states can generate large case counts...  real
...    ...                                                ...   ...
7011  7012  how to protect yourself and others from covid-...  real
7012  7013          see more of theresa ivancik on facebook.   fake
7013  7014  facebook post shared more than 16.000 times cl...  fake
7014  7015                      "Everyone with COVID-19 dies"  fake
7015  7016              see more of anne jensen on facebook.   fake

[7016 rows x 3 columns]

In [35]:
total_train.to_csv('E:/Covid_Fake_News_Data/final_train.csv', index = False)
total_test.to_csv('E:/Covid_Fake_News_Data/final_test.csv', index = False)